@model dynamic

<form asp-controller="MediaTypes" asp-action="RegisterAddress" method="post">
    Code:  <input asp-for="code" /> <br />
    Password: <input asp-for="Password" /><br />
    <button type="submit">Register</button>
</form>