<div class="row">
    <div class="col-md-12">
        <h1>{{vm.title}}</h1>
        <form ng-submit="vm.onSubmit()" class="form-horizontal">
    <formly-form
      model="vm.model"
      fields="vm.formFields"
      form="vm.form1"
      options="vm.form1.options">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <button
            type="submit"
            class="btn btn-lg btn-primary btn-block pull-right col-sm-6-offset-6"
            ng-disabled="vm.form1.$invalid">
            Submit
          </button>
          <div class="text-center"
          style="font-weight: bold; font-size: 2em; color: rgb(255,0,0)"
          ng-show="vm.submitted">
            <b>Submitted</b>
          </div>
      </div>
    </div>
    </formly-form>
</form>

    </div>
</div>
